/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
}

/* Set default left- and right-margin as 22%*/
body {
    background-color: #fcfcfc;
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #433d3d;
    text-align: center;
}

/* Underline during hover */
@media screen and (min-width: 768px) {
    div > ul > li > a { /* Draw a transparent bottom border to create space for hover action below*/
        border-bottom: 2px solid transparent;
    }

    div > ul > li > a:hover { 
        border-bottom: 2px solid rgb(47, 78, 250);
        transition: 0.2s ease-in-out; /* Phase in and out */
    }
}
/* Underline during hover */
/* Top navigation */
#nav-container {
    background-color: white;
    text-transform: uppercase;
    /* Shadow effect. horizontal, vertical, blur, spread */
    -webkit-box-shadow: 4px 4px 4px -6px #777;
    -moz-box-shadow: 4px 4px 4px -6px #777;
        box-shadow: 4px 4px 4px -6px #777;
}

.navbar-header, .navbar-toggler {
    margin: auto;
    display: inline;
}

#line3-icon {
    font-size: 12px;
}

.navbar-brand {
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    #top-nav-btn-group {
        margin: auto;
        display: inline;
    }
}
/* Top navigation */

/* Main body*/
.tab-content, .sidebar-content {
    margin-top: 10px;
    margin-right: 10px;
}

.item-container {
    background-color: white;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner-shell {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    /* Shadow effect. horizontal, vertical, blur, spread */
    -webkit-box-shadow: 4px 4px 4px -6px #777;
    -moz-box-shadow: 4px 4px 4px -6px #777;
        box-shadow: 4px 4px 4px -6px #777;
}

#nav-container, .inner-shell {
    border-style: solid;
    border-width: thin;
    border-color: #e1e1e1;
    border-radius: 3px;
}


/* Signup sheet */
.login-col, .signup-col{
    margin-bottom: 10px;
}
/* Signup sheet */

/* Profile */
/* Speech bubble */
.speech-bubble {
    font-size: 18px;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    position: relative;
    padding: 10px;
    width: 100%; /* Fix the speech bubble width to 100% so that it doesn't change as typing.js happens */
    height: 100px;
    line-height: 60px;
    text-align: center;
}

.speech-bubble:after {    
    background: url(https://1.bp.blogspot.com/-Nx6-gdTY3F8/U8yBO-EOpkI/AAAAAAAACTE/jS1OPBsLWw4/s1600/bg-testimonial-bottom.png) no-repeat;
    width: 24px;
    height: 34px;
    position: absolute;
    bottom: -34px;
    left: 220px;
    content: "";
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
/* Speech bubble */


.profile-head {
    margin-top: 30px;
}

#profile-img {
    width: 100px;
    height: 100px; 
    border-radius: 50px;
    opacity: 0.9;
}

img, .description {
    vertical-align: middle;
    display: inline-block; /* Displays an element as an inline-level block container. The element itself is formatted as an inline element, but you can apply height and width values */
}

span.profile {
    text-align: left;
    margin-left: 20px;
    display: block; /* Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width */
}

#profileDescription {
    font-weight: lighter;
    font-size: 15px;
}

/* Social Media */
svg.socialmedia-icon {
    margin-left: 10px;
    margin-right: 10px;
}
/* Social Media */

/* Progress bar */
svg.progress-icon {
    color: #ff6961;
}

tr, td {
    text-align: center;
}

/* Buttons in the progress bar */
.btn {
    margin-left: 10px;
    margin-right: 10px;
}

/* Progress bar */
/* Profile */


/* Main body*/
/* Consent form */
#consent-detail {
    text-align: left;
}

/* Autocomplete form */
td {
    text-align: left;
}

td.label {
    text-align: right;
}
/* Autocomplete form */

/* Map */
#map {
    width: 100%;
    height: 500px;
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 350px;
}

.controls:focus {
    border-color: #4d90fe;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

span.map-info {
    position: relative;
    display: block;
    line-height: 25px;
}

#drag-badge {
    font-size: 20px;
}
/* Map */

/* Consent form */